<!DOCTYPE html>
<html lang="en">
   <head>
     <meta charset="utf-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
     <meta name="description" content="" />
     <meta name="author" content="AmmarBN" />
     <title> Xenzi-XN1 </title>
     <style type="text/css">
       * {
          font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
       }

       h3 {
          background-color: rgba(0,0,0,1);
          color: rgb(255,255,255);
          text-align: center;
          padding: 10px;
       }
     </style>
   </head>

   <body>
     <h3> Welcome to our website </h3>      
   </body>
</html>
